body {
    text-align: center;
    color: #8f8e8e;
    background-color: rgb(49, 48, 48);
  }
  
  h3 {
    padding: .1em;
    color: #252020;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: solid #466847;
    box-shadow: 0 0 .9em #4CAF50;
    border-radius: .9em;
    background-color: #446845;
    filter: drop-shadow(0 0 0 #999999);
  }
  
  input {
    padding: .3em 2em;
    margin: .8em 2em;
    color: #646060;
    background: none;
    border: none;
    border-radius: .5em;
    border-top:  rgb(92, 165, 224) solid .1em; ;
    border-bottom: rgb(92, 165, 224) solid .3em;
    box-shadow:  0 0 2em rgb(92, 165, 224);
    filter: drop-shadow(0 0 0 #999999);
  }
  
  button {
    text-align:center;
  border:5px solid #1086e8;
  top:150px;
  border-radius:20px;
  animation: border-flicker 2s linear infinite;
  }

  .reiniciarJuego{
    background-color: #466847;
  }
  
  #mensaje {
    color: #646060;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-top: 20px;
  }
  